/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f5f5f5; /* Light gray background */
  text-align: center;
}

/* Header Styles */
header {
  background-color: #550000; /* Gradient */
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-decoration: underline;
}

/* Navigation Bar */
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

nav ul li {
  margin: 0 20px;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 10px 15px;
}

nav ul li a.active {
  background: #FFD700;
  color: black;
  border-radius: 5px;
}

nav ul li a:hover {
  background: #FFD700;
  color: black;
  border-radius: 5px;
}

/* Main Content */
main {
  background: white;
  color: darkblue; /* Change text color */
  margin: 40px auto;
  padding: 30px;
  width: 80%;
  max-width: 1500px;
  border-radius: 10px;
}

p {
  font-size: 1.5rem;
  line-height: 1.6;
  margin-bottom: 15px;
}

/* Styling for ... placeholders */
.dots {
  font-size: 2rem;
  color: gray;
}

/*Styling for search input*/
input {
  padding: 12px;
  font-size: 16px;
  width: 300px;
  border-radius: 5px;
  border: 2px solid #ccc;
  outline: none;
  margin: 15px 0;
  transition: all 0.3s ease;
}

input:focus {
  border-color: #4a90e2;
  box-shadow: 0 0 8px rgba(74, 144, 226, 0.7);
}

button {
  padding: 12px 20px;
  font-size: 16px;
  background-color: #FFD700;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #d9bc1a;
}

.search-container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input:hover,
input:focus {
  border-color: #4a90e2;
  transform: scale(1.05);
}

/*MAIN*/
.main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

main {
  flex-grow: 1;
  max-width: 100%;
  margin: 0 20px;
}

/*arrow nav*/
.arr {
  position: relative;
  background: white;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.4s ease;
}

.arr.left {
  margin-right: 20px;
  order: -1;
}

.arr.right {
  margin-left: 20px;
}

.arr:hover {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}

.arr div {
  position: absolute;
  height: 20px;
  width: 20px;
  border-top: 4px solid #202020;
  border-left: 4px solid #202020;
}

.arr.right div {
  transform: rotate(135deg);
}

.arr.left div {
  transform: rotate(-45deg);
}
